@model EntProgHA.Application.ViewModels.FileTransferViewModel
<div class="container body-content">
    <div class="row filetransfer-content">
        @foreach (var fileTransfer in Model.FileTransfers)
        {
            <div class="filetransfer-file-container">
                <div class="filetransfer-file">

                </div>
            </div>
        }
    </div>
</div>