@model EntProgHA.Application.ViewModels.FileTransferViewModel
<div class="container body-content">
    <div class="row filetransfer-content">
        @foreach (var fileTransfer in Model.FileTransfers)
        {
            <div class="filetransfer-file-container">
                <div>
                    <span>@fileTransfer.Title</span>
                    <br />
                    <span>@fileTransfer.Message</span>
                    <br />
                    <a href="~/files/@fileTransfer.FileUrl">File is Here</a>

                </div>
            </div>

        }
    </div>
</div>